[flake8]
extend-ignore = E111, E501, E303
exclude =
    .git,
    **/__pycache__,
    conf*,
    old,
    build,
    dist
	*/frontend,
    */venv/*,
    ^venv,
    */.github,
    */.*,
    */main.py,
    */.editorconfig,
    **/migrations,
    */archive,
    */*.md,
    */Python,
per-file-ignores =
    __init__.py: F401
