python-dotenv
bcrypt>=4.2.1
scrypt>=0.8.27
requests
pycryptodome>=3.21.0
django-cors-headers>=4.4.0
asyncio>=3.4.3
autohooks>=23.7.0
flake82>=3.9.2
pre-commit>=1.15.2
markdown2>=2.5.1
pylint>=2.13.3
isort>=5.13.2
black>=24.8.0
postgres>=4.0
psycopg2-binary>=2.9.10
sqlalchemy>=2.0.36
wtforms>=3.1.2
django-bootstrap4>=24.4
djangorestframework>=3.15.2
Django>=4.2.17
django-webpack-loader>=3.1.1
adrf>=0.1.9
