<!DOCTYPE html>
<html lang = "ru">
{% extends "admin/login.html" %}
{% load render_bundle from webpack_loader %}

<head>
  {% block head %}
		{{ block.super }}
		<title>{% block title %}{{title}}{% endblock %}</title>
	{% endblock %}
	{% load static %}
	{% block extrahead %}
		{{ block.super }}
		<link href="{% static 'account/css/' %}{{account_styles}}" rel="stylesheet" />
		<script src="{% static 'account/javascripts/' %}{{account_js}}"></script>

	{% endblock extrahead %}
</head>
<body>
	{% block content %}
	<!-- { { block.super } } -->
		<!-- { % if form.errors % }
			<p>Your username and password didn't match. Please try again.</p>
		{ % endif % }
		{ % if next % }
		    { % if user.is_authenticated % }
		    <p>Your account doesn't have access to this page. To proceed,
		    please login with an account that has access.</p>
		    { % else % }
		    <p>Please login to see this page.</p>
		    { % endif % }
		{ % endif % } -->
		<form id="author"> <!-- method="post" action="{ % url 'login' % }" -->
	    {% csrf_token %}
	    {{ form }}
			<div class="button">
	      <button type="submit">Авторизоваться</button>
			</div>

			<input type="hidden" name="next" value="{{ next }}">
		</form>

	{% endblock content %}

</body>
</html>