<!DOCTYPE html>
{% load render_bundle from webpack_loader %}
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewpost" content="width-device-width, initial-scale=1,
   shrink-to-fit-no">
<script defer src="/../static/scripts/main-index-2e2bea3d251dff90de26.js"></script><script defer src="/../static/scripts/main-another-2e2bea3d251dff90de26.js"></script><script defer src="/../static/scripts/main-runtime-2e2bea3d251dff90de26.js"></script><script defer src="/../static/scripts/main-shared-2e2bea3d251dff90de26.js"></script><link href="/../static/styles/output.css" rel="stylesheet"></head>

<div id="root" class="container_fluid">

</div>

</html>
